/*PARTIE PORTFOLIO DANS BOOK.HTML*/

.slider {
    width: 500px;
    margin: 30px auto;
    padding: 0;
    position: relative;
    top: -4em;
}

.slider-viewport {
    width: 500px;
    height: 700px;
    overflow: hidden;
}

.slider-content {
    display:grid;
    grid-auto-flow: column ;
    align-items: center;
    -webkit-transition: 1s all;
    transition: 1s all;

}

.slider-content img {
    height: Auto;
    width: 500px;
}

.slider-nav {
    position: relative;
    top: -4em;
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
  }

  .slider-nav a {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #adafbc;
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
  .slider-nav a:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }



#photo-nb-b:target .slider-content {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

#photo-v-b:target .slider-content{
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
}

@media only screen and (max-width: 500px){
    .slider,
    .slider-viewport {
     width: 400px;
    } 

    .slider-content img{
        width: 400px;
    }

    .slider-viewport{
        overflow: hidden;
    }

    #photo-nb-b:target .slider-content {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
    }
    
    #photo-v-b:target .slider-content{
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    
}