*{
    margin: 0;
    padding: 0;

}


body {
    background-color: black;
    color: white;
    padding: 0;
}

/*LOGO*/

.logo {
    display: inline-block;
    width: auto;
    padding-bottom: 0.3em;
    font-family: 'Cormorant SC', serif;
    font-size: 2em;
    font-weight:lighter;
    position: relative;
    left: 0.2em;
}




/*PARTIE NAVIGATION*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5em;
    margin: 0;
    padding: 1em;
    position: relative;
    bottom : 5em;
    right: 1em;



}

.bandeau{
    background-color: rgb(255, 255, 255) ;
    height: 0.1em;
    width: auto;
    margin-bottom: 4em;
   
    
}

/*PERSONALISATION LIENS*/

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;


}

.nav a:hover{
    color: rgb(55, 189, 189);
  
}

.admin {

    color: rgb(93, 98, 101);
}

.nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}


/*PARTIE MAIN SECTION PHOTOS*/



.photo{
    display: flex;
    flex-direction: row;   
    justify-content: center;

    height: 500px;
    padding-bottom: 200px;

    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    position: relative;
    bottom: 3em;

}

.photo-v{
    order:2; 
   
}
.photo-c { 
    order:1;
}
.photo-nb {
    order:3;
}
img {
    width: 100%;
    height: auto;
    border-radius: 2em;
}

.photo-c ,
.photo-nb,
.photo-v {
    padding-bottom: 100px;
    height: 400px;
    width: 400px;
    
}


@media only screen and (max-width: 1239px ){
    .photo {
        height: 1000px;
    }

    .photo-v{
        order:3;
    }
    .photo-c {
        order:1;
    }
    .photo-nb{
        order:2
    }


}
@media only screen and (max-width: 815px ){
    .photo {
        height: 1500px;
    }
    .nav a{
        font-size: 1em;

    }

   
}

@media only screen and (max-width: 400px ){
    .photo{
        gap:0;
    }
   
}
@media only screen and (max-width: 312px ){
  
    .nav a{
        font-size: 0.6em;

    }
    .nav {
        gap:1em;
    }
    .logo {
        font-size: 1.5em;
    }
}



/*PARTIE VIDÉO*/ 

.video {
    display:inline-block;
    order:4;

    font-family: 'Mynerve', cursive;
    letter-spacing: 1px;
    word-spacing: 5px;

    
    width: 200px;
    height: 1em;
    margin:1em;
    padding: 1em;

    border: 1px solid rgb(63, 62, 62);
    border-radius: 2em;

    transition: 0.5s;
    color: rgb(110, 111, 117);
    
    text-align: center;
    position:relative;
    left:3em;
    top: 4em;
    

}


.video:hover{
    box-shadow: 0 0 0.5em white ;
    color: rgb(251, 251, 251);
}



/*PARTIE VIDEO*/

.video-tissu {

    height: 600px;
    width: auto;
    border-radius: 2em;

}

.conteneur-video {
    display: flex;
    justify-content: center;
    height: 550px;
    width: auto;
    margin: 1em;
    position: relative;
    bottom: 5em;
    
}